body {
  display: flex; /* block-level flex container A flex container expands items to fill available free space or shrinks them to prevent overflow */
}

.game-container {
  width: 526px;
  height: 768px;
  position: absolute; /* uses the document body, and moves along with page scrolling */
  left: 84px;
}

.border-left {
  width: 84px;
  height: 831px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: 0px;
  left: 0px;
}

.border-right {
  width: 84px;
  height: 831px;
  position: absolute;
  background-color: white;
  z-index: +2;
  left: 610px;
}

.border-top {
  width: 694px;
  height: 53px;
  position: absolute;
  background-color: white;
  z-index: +2;
  top: -53px;
}

.night-sky {
  background-color: black;
  width: 526px;
  height: 610px;
  position: absolute;
}

.grass {
  background-color: darkseagreen;
  width: 526px;
  height: 158px;
  position: absolute;
  top: 610px; /* sets the top edge of the ground to units below the top edge of game container */
  z-index: +1; /* put in front of webs */
}

.butterfly {
  background-color: yellow;
  position: absolute;
  width: 63px;
  height: 47px;
}

.webs {
  background-image: url("spiderweb.png");
  width: 63px;
  height: 316px;
  position: absolute;
}
