@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");

body {
  display: flex; /* block-level flex container A flex container expands items to fill available free space or shrinks them to prevent overflow */
  background: #483d8b;
}

.game-container {
  width: 526px;
  height: 768px;
  position: absolute; /* uses the document body, and moves along with page scrolling */
  left: 84px;
}

.border-left {
  width: 84px;
  height: 776px;
  position: absolute;
  z-index: +2;
  top: 0px;
  left: 0px;
  background: #483d8b;
}

.border-right {
  width: 84px;
  height: 768px;
  position: absolute;
  z-index: +2;
  left: 610px;
  background: #483d8b;
}

.border-top {
  width: 610px;
  height: 53px;
  position: absolute;
  z-index: +2;
  top: -53px;
  background: #483d8b;
}

.night-sky {
  background-image: url("night-sky-background.png");
  width: 526px;
  height: 610px;
  position: absolute;
}

.grass {
  background-image: url("grass-background.png");
  width: 526px;
  height: 158px;
  position: absolute;
  top: 610px; /* sets the top edge of the ground to units below the top edge of game container */
  z-index: +1; /* put in front of webs */
}

.butterfly {
  background-image: url("butterfly.png");
  position: absolute;
  width: 63px;
  height: 47px;
}

.webs {
  background-image: url("spider-web.png");
  width: 63px;
  height: 316px;
  position: absolute;
}

@keyframes slideright {
  /* animation */
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  /* chrome */
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

.grass-container {
  height: 158px;
  width: 610px;
  left: 84px;
  position: absolute;
}

.grass-moving {
  position: absolute;
  top: 610px;
  height: 158px;
  background-image: url("grass-background.png");
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  width: 100%; /* 100% of containing block */
  z-index: +1;
}

.title-score {
  position: absolute;
  left: 694px;
  width: 431px;
  font-family: "Water Brush", cursive;
  background: #483d8b;
}

h1 {
  text-align: center;
  font-size: 66px;
  color: white;
}

h2 {
  font-size: 33px;
  color: #f08080;
}

.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  font-size: 33px;
  color: #f08080;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  color: #f08080;
}

#watch {
  display: flex;
  padding: 8px 6px;
  margin: 8px 6px;
  color: #483d8b;
  border: white;
  font-weight: bold;
}

#play {
  display: flex;
  padding: 8px 6px;
  margin: 8px 6px;
  color: #483d8b;
  background-color: #f08080;
  border: #f08080;
  font-weight: bold;
  width: 52px;
}
