@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");

body {
  display: flex; /* block-level flex container A flex container expands items to fill available free space or shrinks them to prevent overflow */
  background: #708090;
}

.game-container {
  width: 526px;
  height: 768px;
  position: absolute; /* uses the document body, and moves along with page scrolling */
  left: 84px;
}

.border-left {
  width: 84px;
  height: 776px;
  position: absolute;
  z-index: +2;
  top: 0px;
  left: 0px;
  background: #708090;
}

.border-right {
  width: 84px;
  height: 768px;
  position: absolute;
  z-index: +2;
  left: 610px;
  background: #708090;
}

.border-top {
  width: 610px;
  height: 53px;
  position: absolute;
  z-index: +2;
  top: -53px;
  background: #708090;
}

.night-sky {
  background-image: url("/images/night-sky-background.png");
  width: 526px;
  height: 610px;
  position: absolute;
}

.grass {
  background-image: url("/images/grass-background.png");
  width: 526px;
  height: 158px;
  position: absolute;
  top: 610px; /* sets the top edge of the ground to units below the top edge of game container */
  z-index: +1; /* put in front of webs */
}

.butterfly {
  background-image: url("/images/butterfly.png");
  position: absolute;
  width: 63px;
  height: 47px;
}

.webs {
  background-image: url("/images/spider-web.png");
  width: 63px;
  height: 316px;
  position: absolute;
}

@keyframes slideright {
  /* animation */
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  /* chrome */
  from {
    background-position: 10000%;
  }
  to {
    background-position: 0%;
  }
}

.grass-container {
  height: 158px;
  width: 610px;
  left: 84px;
  position: absolute;
}

.grass-moving {
  position: absolute;
  top: 610px;
  height: 158px;
  background-image: url("/images/grass-background.png");
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  width: 100%; /* 100% of containing block */
  z-index: +1;
}

.right-panel {
  position: absolute;
  left: 694px;
  width: 431px;
  font-family: "Water Brush", cursive;
  background: #708090;
}

h1 {
  text-align: center;
  font-size: 66px;
  color: white;
}

h2 {
  font-size: 33px;
  color: #ffe4e1;
}

.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  font-size: 33px;
  color: #ffe4e1;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffe4e1;
}

#watch {
  display: flex;
  padding: 8px 6px;
  margin: 8px 6px;
  color: #708090;
  border: white;
  font-weight: bold;
}

#play {
  display: flex;
  padding: 8px 6px;
  margin: 8px 6px;
  color: #708090;
  background-color: #ffe4e1;
  border: #ffe4e1;
  font-weight: bold;
  width: 52px;
}

#lyrics {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: white;
}

#original {
  margin: 8px 6px;
}

#english-translation {
  margin: 8px 6px;
}

.yves {
  color: #7b0134;
}

.olivia-hye {
  color: #7f7d7d;
}

.kim-lip {
  color: #ef1841;
}

.heejin {
  color: #ed0090;
}

.jinsoul {
  color: #1724a7;
}

.vivi {
  color: #f5a0b3;
}

.haseul {
  color: #00a652;
}

.chuu {
  color: #f6917d;
}

.hyunjin {
  color: #fdcc03;
}

.gowon {
  color: #37bb9d;
}

.more-than-one {
  color: black;
}

.yeojin {
  color: #f37020;
}

.choerry {
  color: #b510b5;
}
